@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateSkill", "Skill", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.Id)
    <br />
        <label>Yetenek Başlığı</label>
        @Html.TextBoxFor(x=>x.Title,new {@class="form-control"})
        <br />
        <label>Değer</label>
        @Html.TextBoxFor(x=>x.Value,new {@class="form-control"})
        <br />
        <input type="submit" value="Guncelle" class="btn btn-success"/>
}
