@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Listesi Tablosu</h3>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Yetenek İsmi</th>
                <th scope="col" class="sort" data-sort="completion">Tarih</th>
                <th scope="col" class="sort" data-sort="status">Sil</th>
                <th scope="col">Güncelle</th>


            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <span class="name mb-0 text-sm">@item.Id</span>
                            </div>
                        </div>
                    </th>
                    <td class="budget">
                        @item.Name
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="completion mr-2">@item.Date</span>
                            
                        </div>
                    </td>
                    <td>

                        <a class="btn btn-danger" href="~/Experience/DeleteExperience/@item.Id">Sil</a>

                    </td>
                    <td>

                        <a class="btn btn-warning" href="~/Experience/UpdateExperience/@item.Id">Güncelle</a>


                    </td>


                </tr>
            }
        </tbody>
    </table>
    <a href="~/Experience/AddExperience" class="btn btn-outline-darker">Yeni Deneyim Ekle</a>
</div>